
.icon-position{
    height: 90px;
    width: 210px;
}
.nav-decorate{
    position: relative;
    left: 380px;
    font-family: Poppins;
   
    
}
.iiiustration-img{
    width: 110%;
    padding: 50px;
    position: relative;
    right: 80px;
  }
  .first-col-text-position{
      position: relative;
      left: 100px;
    margin-top: 10px;
  }
.nav-iiiustration{
    background: #F0FFF0;
    
    
}
.button-color-sign-in{
    background: #21B573;
    border: #21B573;
    border-radius: 33px;
    padding: 5px 22px;
    font-family: Roboto;
    color: #FFFFFF;
    
}
#color-Are-you-ready-to-learn{
    color: #FD511A;
   font-family: Poppins;
}

#next-para{
 font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;

color: #000000;
}
#color-any-schedule{
    color:#21B573 ;
}
#lorem-color{
    font-family: Poppins;
    color: #6C6B6B;
    font-size: 16px;
   
}

.button-get-started{
    background: #21B573;
    border:  #21B573;
    border-radius: 33px;
    padding: 12px 36px;
    color: #FFFFFF;
}
.fixed img{
    display: flex;
    height: 270px;
    width: 270px;
    padding: 50px 80px 70px 80px;
    margin: 0 auto;
  
    
}
.border-line{
    border: 1px solid white;
    
    


}
.text-decorate{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}
.normal-text-decorate{
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
    position: relative;
    bottom: 40px;
}
.fixed{
    display: flex;
   justify-content: space-evenly;
   margin-top: 30px;
}
.box-shadow{
    box-shadow: 5px 5px 10px;
}
.headline-courses{
display: flex;
justify-content: center;
margin-top: 70px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
color: #413960;
}
.card{
    box-shadow: 2px 2px 10px;
    border: none;
}
.card-title{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #413960;
}
.card-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
.buy-courses{
    background: #21B573;
    border: #21B573 ;
    border-radius: 33px;
    padding: 8px 28px;
    color: #FFFFFF;
}
.card-footer{
    background-color:white;
    border-top: none;

}
.card-footer img{
    width: 10%;
   
}
.text-card-footer{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #585859;
}
.align-text{
    position: relative;
    left: 40px;
}
.headline-testimonial{
    font-size: 40px;
    font-weight: 500;
    font-family: poppins;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.testimonial-img{
    width: 15%;
    
    
   
   
  
}
.testimonial-text{
  
  padding: 40px;
}


.testimonial-content{

        margin-left: 100px;
}
.bg-color{
    background-color:black;
    color:white;
    font-family: Poppins;
    padding: 50px ;
    margin-top: 40px;
    
}
.footer{
    display: flex;
    justify-content: center;

}

